
////////////////////////////
// Bootstrap

@import "../bower_components/bootstrap/less/bootstrap";

// Customize

@font-size-base: 16px;


@headings-font-size-base: 15px;
@font-size-h1: floor((@headings-font-size-base * 2.6));
@font-size-h2: floor((@headings-font-size-base * 2.15));
@font-size-h3: ceil((@headings-font-size-base * 1.7));
@font-size-h4: ceil((@headings-font-size-base * 1.25));
@font-size-h5: @headings-font-size-base;
@font-size-h6: ceil((@headings-font-size-base * 0.85));

//@font-family-base: 'Open Sans', sans-serif;
@font-family-base: 'Lato', sans-serif;
//@font-family-base: 'Josefin Sans', sans-serif;
//@font-family-base: 'Exo', sans-serif;
//@font-family-base: 'Exo 2', sans-serif;
//@font-family-base: 'Raleway', sans-serif;
//@font-family-base: 'Roboto', sans-serif;

@headings-font-family: 'Montserrat', sans-serif;
@headings-font-weight: bold;

////////////////////////////
// Components

@import "variables";

@import "../components/discount-meter/discount-meter";

@import "page";
@import "icons";
@import "components";
