section {
  padding: 2em 0 5em 0;
}

// HEADER
.header {
  padding: 10%;

  .logo {
    width: 10%;
    min-width: 80px;
    max-width: 150px;
  }
}

// JUMBOTRON
.jumbotron {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(160deg, @tsc-jumbo-primary, @tsc-jumbo-accent);
  color: white;

  .picture {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: @tsc-jumbo-img-opacity;
    background-image: url('../assets/img/ny-filtered-compressed.jpg');
    background-size: cover;
    background-position: center;
  }

  h1 {
    text-transform: none;
    font-size: 28px;
    @media (min-width: @screen-xs-min) {
      font-size: 28px;
    }
    @media (min-width: @screen-sm-min) {
      font-size: 32px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 42px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 48px;
    }

    .sub-heading {
      display: block;
      font-size: 87%;
      margin: 15px 0 55px 0;
      font-weight: 100;
      font-family: @font-family-base;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }
}

// REGISTERED
.logged-in {
  .my-info {
    opacity: 0.5;
  }
}

// BULLETS

.bullets {
  padding: 30px 0 40px 0;
  color: @tsc-brand-primary;

  .icon {
    border: 1px dotted @tsc-brand-accent;
    border-radius: 999px;
    margin: 0 auto 15px auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 1.5em;
  }
}

// REGISTER

.register {
  position: relative;
  background-image: linear-gradient(-20deg, @tsc-jumbo-primary, @tsc-jumbo-accent);
  text-align: center;
  color: white;

  .container {
    position: relative;
    z-index: 1;

    .registration {

      .application-form {
        text-align: left;
        color: #fff;

        label {
          margin-top: 1em;
          font-weight: 300;
        }
        
        .form-control {
          transition: background 0.2s;
          background: fade(#fff, 20);
          border: none;
          border-radius: 0;
          box-shadow: none;
          color: inherit;
          &:active,
          &:focus {
            background: fade(#fff, 30);
            box-shadow: none;
          }
        }

        ::placeholder {
          color: fade(#fff, 50);
          font-weight: 100;
        }

        .help-block {
          font-weight: 100;
          color: fade(#fff, 70);
        }
      }
    }
  }

  .picture {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: @tsc-jumbo-img-opacity;
    background-image: url('../assets/img/building-pattern-compressed.jpg');
    background-size: cover;
    background-position: center;
  }
}

footer {
  padding: 40px 0;
  margin-top: 100px;
  background: @tsc-brand-accent;
  color: mix(@tsc-brand-accent, white);
  font-size: 12px;
}
