////////////////////////////
// TSC Variables

@tsc-brand-primary: #365063;
@tsc-brand-accent: spin(@tsc-jumbo-primary, -60);
@tsc-jumbo-img-opacity: 0.1;

@tsc-jumbo-primary: @tsc-brand-primary;
@tsc-jumbo-accent: @tsc-brand-accent;

