<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="author" content="Levi Thomason"/>
    <meta name="description" content="Registration for 3 Strand Code organization"/>
    <meta name="keywords" content="learn, teach, web development"/>
    <title>3 Strand Code</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700|Montserrat:700' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Josefin+Sans:100,400,700|Exo:100,400,700|Alegreya+Sans:100,400,700|Exo+2:400,100,700|Raleway:400,100,700|Roboto:400,100,700' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="app.css"/>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/kinvey-angular/kinvey-angular.js"></script>

    <script src="components/env/env.js"></script>
    <script src="components/discount-meter/discount-meter.js"></script>

    <script src="app.js"></script>

</head>

<body ng-controller="Controller as ctrl">

<div class="jumbotron">
    <div class="container">
        <h1>3 Strand Code</h1>

        <p class="lead">
            Teaching front end web development by immersion and mentoring.
        </p>
    </div>
    <div class="picture"></div>


    <div class="container">
        <div class="logged-in" ng-show="$kinvey.getActiveUser()">
            <h2>
                Hello, {{ $kinvey.getActiveUser().firstName }}.
            </h2>

            <div class="my-info">
                {{ $kinvey.getActiveUser().firstName }} {{ $kinvey.getActiveUser().lastName }}
                <br/>
                {{ $kinvey.getActiveUser().email }}
            </div>
            <br/>
            <p>
                You're registered!
                Watch your email for updates.
            </p>
            <br/>
            <button class="tsc-btn tsc-btn-white" ng-click="$kinvey.User.logout()">
                Sign Out
            </button>
        </div>
        
        <div class="notice">
        </div>
        
        <div class="registration" ng-hide="$kinvey.getActiveUser()">
            <div class="row">
                <div class="col-sm-6">
                    <discount-meter></discount-meter>
                </div>

                <br class="visible-xs"/>
                <br class="visible-xs"/>
                <br class="visible-xs"/>

                <div class="col-sm-6">
                    <form class="registration-form" name="ctrl.registrationForm" ng-submit="ctrl.signup()">
                        <h3 class="page-header"> Spokane / CDA Registration</h3>
                        <!--<h3>Preregister</h3>-->

                        <p class="help-block">
                            Lock in your discount.
                        </p>

                        <div class="row">

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input class="form-control" ng-model="ctrl.user.firstName" name="firstName" type="text" placeholder="First name" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input class="form-control" ng-model="ctrl.user.lastName" name="lastName" type="text" placeholder="Last name" required="required"/>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input class="form-control" ng-model="ctrl.user.email" name="email" type="email" placeholder="Email" required="required"/>
                                </div>
                            </div>
                        </div>

                        <button type="submit"
                                class="tsc-btn tsc-btn-white"
                                ng-disabled="!ctrl.registrationForm.$valid">
                            Count me in
                        </button>

                        <br/>
                        <br/>

                        <p>
                            <span ng-repeat="error in ctrl.registrationErrors">
                                {{ error }}
                            </span>
                        </p>

                        <!--<button class="btn btn-link" ng-click="ctrl.fillUser()">Fill</button>-->
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="bullets">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <h2>
                    Learn
                </h2>

                <p>
                    We believe you learn best by building cool stuff with super talented developers.
                    At 3 Strand Code you'll spend most your class time making things with industry pros.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="icon">
                    <i class="fa fa-comments-o"></i>
                </div>
                <h2>
                    Teach
                </h2>

                <p>
                    No one learns more than the teacher.
                    3 Strand Code will give you plenty of opportunity to speak and teach your peers.
                </p>
            </div>

            <div class="col-sm-4">
                <div class="icon">
                    <i class="fa fa-repeat"></i>
                </div>
                <h2>
                    Repeat
                </h2>

                <p>
                    Web development is a skill.
                    A craftsman is improved by every project.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="registerForm" class="register">
    <div class="container">
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>
                About Front End Web Development
            </h2>


            <p>
                In loose terms, front end web development encompasses “building the part of the web people see and use.”
                Front end development often includes elements of user interface design (UI) and user experience design
                (UX), though these are separate areas of expertise.
                Front end developers are usually responsible for taking UX and UI deliverables and creating real working
                interfaces.
            </p>

            <p>
                The web used to be home to only websites. While the desktop hard drive was home to applications.
                In todays modern web, a web address may load a simple website or a full featured application without
                installing additional software.
                The user’s data and profile are all saved in “the cloud” and accessible on all their web enabled
                devices.
                A skilled front end web developer can build both websites and web applications.
            </p>

            <p>
                Responsive design allows web app interfaces to adapt to mobile screen sizes.
                However, it should be noted that web apps are not native mobile apps.
                Native mobile apps are downloaded, typically, from an app store or market.
                Mobile app developers create native apps.
                Front end web developers make responsive web apps that run in a mobile device’s web browser.
            </p>

            <h2>Recommended Background</h2>

            <p>
                No previous coding experience is required, however, those familiar with HTML, CSS or JavaScript will
                benefit most.
            </p>

            <h2>Required Materials</h2>
            <ul>
                <li>A computer with an Internet connection.</li>
                <li>A copy of the courseware.</li>
                <li>Insatiable curiosity.</li>
            </ul>


            <h2>Schedule & Cost</h2>
            <ul>
                <li>Start date: TBD</li>
                <li>Class Time: 2hrs</li>
                <li>Class Days: TBD</li>
                <li>Cost: TBD</li>
            </ul>

            <h2>What you’ll learn</h2>

            <p>
                This course will give you the knowledge and skills necessary to enter the job market as a junior web
                developer. Expect to be able to build a custom website from scratch and get it online. A more thorough
                syllabus. We’ll cover topics such as:
            </p>

            <div class="row">
                <div class="col-sm-4">
                    <ul>
                        <li>Environment & Terminal</li>
                        <li>Git & GitHub</li>
                        <li>Editors & IDEs</li>
                        <li>Package Managers</li>
                        <li>HTML5 & CSS3</li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul>
                        <li>Preprocessors</li>
                        <li>Front end Frameworks</li>
                        <li>Intro to JavaScript & jQuery</li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul>
                        <li>Builds & Deployment</li>
                        <li>Hosting & Maintenance</li>
                        <li>Google Analytics</li>
                        <li>Backends As A Service</li>
                    </ul>
                </div>

            </div>


            <h2>Is this course for me?</h2>

            <p>
                A few questions for you.
                Do you love solving problems?
                Are you constantly learning new things?
                Others say you’re detailed oriented and meticulous?
                Are you fascinated by the capabilities of web technologies and wish you could turn your ideas into reality?
                Yes?
                Read on.
            </p>

            <p>
                If you’re driven when challenged and prone to press on when others tend to give up, you might have the aptitude of a developer.
                Not taking this course could mean missing an opportunity to live the life you were perfectly designed for.
            </p>

            <p>
                Front-end web developers have a blast.
                We love solving problems and making cool things that make users really happy.
                We also get paid quite well to do this.
                A skilled front-end developer salary is 64% higher than the average nationwide salary according toindeed.com.
                While a senior frontend developer earns 77% more.
                That comes to $95k - $102k annual salary respectively.
            </p>

            <h2>About the Founder</h2>

            <p>
                Levi Thomason is a second generation software developer.
                Having started scripting at an early age, he is now the Lead Front End Developer at Gravity Jack in Liberty Lake, WA.
                His passion is in front end development though he has experience with the full stack.
                In the local community, Levi is founder of the CDA Web App Workshop, driving peer-to-peer up-skilling.
                In the web development community at large, he contributes to open source projects like
                <a href="http://lesscss.org">LESS</a>
                and
                <a href="https://github.com/bgrins/TinyColor">TinyColor</a>
                (the engine behind the Chrome Dev Tools color picker).
            </p>

            <p>You can get in touch with him here:</p>

            <div>Levi Thomason</div>
            <div>me@levithomason.com</div>
        </div>
    </div>
</div>

<footer>
    <div class="container">&copy; 2015 3 Strand Code</div>
</footer>

</body>
</html>
