@import "bower_components/bootstrap/less/bootstrap.less";

.jumbotron {
  text-align: center;
  h1 {
    font-weight: 100;
  }
  p {
    font-size: 1em;
    &.lead {
      text-transform: uppercase;
      font-size: 1.5em;
    }
  }
}

.bullets {
  h2 {
    font-weight: 100;
  }
}
