.faq {
  .row {
    margin: 2em 0;
    .icon {
      text-align: center;
      color: #CCC;
      font-size: 3em;
      line-height: 1;
    }
    .heading {
      text-align: center;
      font-size: 1em;
    }
  }
  p, li {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
  }
  
  
  b {
    font-weight: 400;
  }
  
  .question {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 21px;
  }

  .answer {
    margin-left: 20px;
    padding: 10px 0 10px 20px;
    border-left: 2px solid fade(@tsc-brand-accent, 10);
  }
}
