<div>
    <div id="faq" class="tsc-scroll-anchor"></div>
    <section class="faq">
        <div class="container">

            <h1 class="page-header">FAQ</h1>
            
            <h2>What do I get?</h2>

            <div class="row">
                <div class="col-sm-6">
                    <div class="icon">
                        <i class="fa fa-certificate"></i>
                    </div>
                    <h3 class="heading">
                        Verified Certificate
                    </h3>
                    <!--<p class="lead">-->
                    <!--IC:Learn & U of I, CDA-->
                    <!--</p>-->

                    <p>
                        A verified certificate from these local institutions is a huge win for your portfolio.
                    </p>

                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                <a href="http://www.innovatecda.com/" target="_blank">
                                    <i class="fa fa-external-link"></i>
                                    Innovation Collective
                                </a>
                                <br/>
                                <a href="http://www.uidaho.edu/cda" target="_blank">
                                    <i class="fa fa-external-link"></i>
                                    University of Idaho, CDA
                                    <img src="//lh5.ggpht.com/Oe0rssh14b3JNWEAyMJbRzOJi5sCS50GedfKGsLCEUeopCsvkiCNj6NYMaZ8-96aw64=w300"
                                         alt=""/>
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <h3 class="heading">
                        Recommendations
                    </h3>

                    <!--<p class="lead">-->
                    <!--We want to brag about you.-->
                    <!--</p>-->

                    <p>
                        Each participant to successfully complete the course will get a recommendation hand signed by
                        the
                        mentors. We'll include separate personalized assessments just for you, too.
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="icon">
                        <i class="fa fa-server"></i>
                    </div>
                    <h3 class="heading">
                        Full Stack+ Experience
                    </h3>

                    <!--<p class="lead">-->
                    <!---->
                    <!--</p>-->

                    <p>
                        You'll get an opportunity to work everywhere in the full stack with top professionals.
                    </p>
                </div>

                <div class="col-sm-6">
                    <div class="icon">
                        <i class="fa fa-share-alt"></i>
                    </div>
                    <h3 class="heading">
                        Best Networking
                    </h3>

                    <!--<p class="lead">-->
                    <!--It's about who you know.-->
                    <!--</p>-->

                    <p>
                        You'll build relationships with some of the best developers in our area.
                        These are
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
