<div>
    <div id="faq" class="tsc-scroll-anchor"></div>
    <section class="faq">
        <div class="container">

            <h1 class="page-header">FAQ</h1>

            <div class="question">What will I learn?</div>
            <div class="answer">

                <p>
                    You will learn every step to execute production projects, start to finish.
                    This course will advance you from your current position to the next level.
                    We’ll cover topics such as:
                </p>

                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>Environment and terminal</li>
                            <li>Git and GitHub</li>
                            <li>Editors and IDEs</li>
                            <li>Package managers</li>
                            <li>HTML, CSS, and JavaScript</li>
                            <li>JS Libraries & Frameworks</li>
                            <li>CSS Preprocessors</li>
                            <li>Front end Frameworks</li>
                            <li>Working with APIs</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Scalable Application Architecture</li>
                            <li>Agile Software Development</li>
                            <li>Project Management Tools</li>
                            <li>Build tools & Deployment</li>
                            <li>Automated Testing</li>
                            <li>Continuous Integration & Deployment</li>
                            <li>Hosting and maintenance</li>
                            <li>Analytics</li>
                            <li>Backends as a Service</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="question">What is the schedule?</div>
            <div class="answer">
                <p>
                    <b>Classes:</b>
                    Mon & Thr from 6-8pm.
                </p>

                <p>
                    <b>Duration:</b>
                    8 weeks
                    <br/>
                    Thr, Sept 10<sup>th</sup> - Mon Nov 2<sup>nd</sup>
                </p>

                <p>
                    <b>Remote Collaboration:</b>
                    Informally, all week, using superb chat, video, screenshare, pair programming, and social coding tools.
                </p>
            </div>

            <div class="question">Where do we meet?</div>
            <div class="answer">
                <p>
                    <a href="http://www.innovatecda.com/co-working/" target="_blank">IC:Work/CoWork</a> at <a
                        href="https://www.google.com/maps/place/410+Sherman+Ave,+Coeur+d'Alene,+ID+83814/@47.673448,-116.7806338,17z/data=!4m7!1m4!3m3!1s0x5361c66047464535:0x715a1fda45e0f86e!2s410+Sherman+Ave,+Coeur+d'Alene,+ID+83814!3b1!3m1!1s0x5361c66047464535:0x715a1fda45e0f86e"
                        target="_blank">410 Sherman Ave Coeur d'Alene, Idaho 83814</a>
                </p>
            </div>

            <div class="question">Will the classes be hands on or lecture?</div>
            <div class="answer">
                <p>
                    Classes will be a mixture of both.
                    The first part of the class will consist of an introduction to the topic and the remaining time will be spent practicing and building with the knowledge gained.
                </p>
            </div>

            <div class="question">What will I work on?</div>
            <div class="answer">
                <p>
                    We're doing things differently.
                    You get to build anything you want.
                    On day 1 we'll hold project pitches and collectively vote on projects to build.
                </p>

                <p>
                    This course is open to the ideas of the students and instructors.
                </p>

            </div>

            <div class="question">Can I work on my own project?</div>
            <div class="answer">
                <p>
                    Absolutely, as long as it fits into the scope of the class.
                </p>
            </div>

            <div class="question">Will I work solo or in a group?</div>
            <div class="answer">
                <p>
                    You can work solo, but it’s highly recommended to participate as a group.
                </p>
            </div>

            <div class="question">What do I need to bring?</div>
            <div class="answer">
                <ul>
                    <li>A laptop or computer</li>
                    <li>Project ideas</li>
                    <li>Insatiable curiosity</li>
                </ul>
            </div>

            <div class="question">Will there be homework?</div>
            <div class="answer">
                <p>
                    We believe you learn best by collaborating with other great developers.
                    We're seriously focused on helping you create impressive portfolio material.
                </p>

                <p>
                    So, no.
                    There will be no traditional homework.
                    Instead, you'll be expected to successfully build things.
                    We'll provide all the resources, guidance, and support to ensure you can do this.
                </p>

                <p>
                    When employers look for web developers, they look mostly at your work.
                    You'll most likely be hired to build stuff.
                    We're here to ensure you can confidently do exactly that.
                </p>
            </div>

            <div class="question">What skill level do I have to be at?</div>
            <div class="answer">
                <p>
                    Somewhere between intern and advanced.
                    Our unique process works best with a full spectrum of skill sets and experience levels.
                    Just like a start up or web development shop, you'll play the role that best suits you.
                </p>

                <p>
                    <b>Suggested Minimum</b>
                    <br/>
                    No previous coding experience is required, however, those familiar with HTML and CSS will benefit most.
                </p>

                <p>
                    <b>Suggested Maximum</b>
                    <br/>
                    We encourage and welcome everyone to attend.
                    However, we want to make sure you leave satisfied and up-skilled.
                    This course may be good only for networking if you:
                </p>

                <ul>
                    <li>Have a few years professional experience.</li>
                    <li>Know the tech in "What technologies will I learn to use?"</li>
                    <li>Know the items listed in "What will I learn?"</li>
                </ul>
            </div>

            <div class="question">What technologies will we learn to use?</div>
            <div class="answer">
                <p>
                    We'll primarily be using the technologies you see below, check them out.
                </p>
            </div>

            <div class="stack">
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="https://angularjs.org/" target="_blank">
                        <div class="component angular">
                            <span class="name">Angular</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="https://nodejs.org/" target="_blank">
                        <div class="component node">
                            <span class="name">Node.js</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="http://expressjs.com/" target="_blank">
                        <div class="component express">
                            <span class="name">Express</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="https://www.heroku.com/" target="_blank">
                        <div class="component heroku">
                            <span class="name">Heroku</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="https://www.npmjs.com/" target="_blank">
                        <div class="component npm">
                            <span class="name">npm</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="http://bower.io/" target="_blank">
                        <div class="component bower">
                            <span class="name">bower</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="http://gulpjs.com/" target="_blank">
                        <div class="component gulp">
                            <span class="name">Gulp</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="http://lesscss.org/" target="_blank">
                        <div class="component less">
                            <span class="name">LESS</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="http://getbootstrap.com/" target="_blank">
                        <div class="component bootstrap">
                            <span class="name">Bootstrap</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="https://www.pivotaltracker.com/" target="_blank">
                        <div class="component pivotal">
                            <span class="name">Pivotal Tracker</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="http://git-scm.com/" target="_blank">
                        <div class="component git">
                            <span class="name">Git</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="https://github.com/" target="_blank">
                        <div class="component github">
                            <span class="name">GitHub</span>
                        </div>
                    </a>
                </div>

                <div class="text-muted">...and more</div>
            </div>

            <div class="question">What do I get for completing the course?</div>
            <div class="answer">

                <ul>
                    <li>A verified Certificate from IC:Learn & University of Idaho CDA.</li>
                    <li>A presence on GitHub.</li>
                    <li>Networking with other developers & leaders.</li>
                    <li>Valuable experience to take with you in your development career.</li>
                </ul>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="icon">
                            <i class="fa fa-certificate"></i>
                        </div>
                        <div class="heading">
                            Verified Certificate
                        </div>

                        <p>
                            A verified certificate from these
                            <a href="http://www.innovatecda.com/" target="_blank">IC:Learn</a>
                            and the
                            <a href="http://www.uidaho.edu/cda" target="_blank">University of Idaho, CDA</a>
                            .
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <div class="icon">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="heading">
                            Recommendations
                        </div>

                        <p>
                            Each participant to successfully complete the course will get a recommendation hand signed by
                            the
                            mentors. We'll include separate personalized assessments just for you, too.
                        </p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="icon">
                            <i class="fa fa-server"></i>
                        </div>
                        <div class="heading">
                            Full Stack + Experience
                        </div>

                        <p>
                            You'll get an opportunity to work everywhere in the full stack with top professionals.
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <div class="icon">
                            <i class="fa fa-share-alt"></i>
                        </div>
                        <div class="heading">
                            Best Networking
                        </div>

                        <p>
                            You'll build relationships with some of the best developers in our area.
                            These are
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
