<div class="discount-widget">
    <div class="discount-header">${{ discounts.remaining ? '249' : '499' }}</div>

    <div class="left-container"></div>

    <div class="meter-container">
        <div class="meter" ng-style="{top: _meterTop}"></div>
    </div>

    <div class="right-container">
        <div class="readout" ng-style="{top: _meterTop}">
            <div class="readout-icon"><i class="fa fa-long-arrow-left"></i></div>
            <div class="readout-value">{{ discounts.remaining }}</div>
            <div class="readout-label">Left</div>
        </div>
    </div>

    <div class="discount-footer">$499</div>
</div>
