.discount-widget {
  @tsc-meter-width: 60px;
  color: #ffffff;

  .bar {
    position: relative;
    width: @tsc-meter-width;
    height: 359px;
    margin: auto;
    line-height: 2em;
    background-image: linear-gradient(
            180deg,
            #8bcf69 20%,
            #e6d450 40%,
            #f28f68 60%,
            #cf82bf 80%,
            #719fd1 100%
    );
    
    .marker {
      position: absolute;
      width: @tsc-meter-width;
      text-indent: (@tsc-meter-width / 3);
      border: 1px solid fade(#000, 10);
      border-left: none;
      border-right: none;
      height: 2px;
      font-size: 2em;
      line-height: 0;
      white-space: nowrap;
      vertical-align: top;
    }

    .top,
    .bottom {
      text-align: center;
      position: absolute;
      width: @tsc-meter-width;
      margin: 0 -25%;
    }

    .top {

    }

    .bottom {
      bottom: 0;
    }
  }
}
