<div>
    <div id="our-process" class="tsc-scroll-anchor"></div>
    <section class="our-process">
        <div class="container">

            <h1 class="page-header">Our Process</h1>

            <p class="lead">
                Everything you need to execute production projects, start to finish.
            </p>

            <div class="row text-muted">
                <div class="col-sm-12">
                    <h2>Kick Off</h2>

                    <div class="row">
                        <div class="col-sm-4">
                            <p class="lead">Orientation</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="lead">Introductions</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="lead">Project Pitch Event</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h2>Month 1</h2>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="week">
                        <h5>Week 1</h5>

                        <div class="week-item">Your Environment</div>
                        <div class="week-item">Package managers</div>
                        <div class="week-item">Git & GitHub Workflow</div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="week">
                        <h5>Week 2</h5>

                        <div class="week-item">Data Structures in JavaScript</div>
                        <div class="week-item">JavaScript OOP Fundamentals</div>
                        <div class="week-item">JavaScript Design Patterns</div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="week">
                        <h5>Week 3</h5>

                        <div class="week-item">AngularJS Best Practices</div>
                        <div class="week-item">Using & Customizing Bootstrap</div>
                        <div class="week-item">Custom CSS Frameworks with LESS</div>
                        <div class="week-item">The Build Process</div>
                    </div>

                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="week">
                        <h5>Week 4</h5>

                        <div class="week-item">Unit Testing</div>
                        <div class="week-item">E2E Testing</div>
                        <div class="week-item">Deploying to Heroku</div>
                        <div class="week-item">Continuous Integration</div>
                    </div>

                </div>
            </div>

            <div>
                <h2 class="text-muted">Month 2</h2>
            </div>

            <div>
                <h2 class="text-muted">Month 3</h2>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <h2 class="text-muted">Throughout the course</h2>

                    <h4>Agile</h4>
                    <b>References</b>
                    <a href="http://www.agilenutshell.com/" target="_blank">
                        Agile in a nutshell
                    </a>
                    <br/>
                    <a href="http://www.mountaingoatsoftware.com/" target="_blank">
                        Mountain Goat Software
                    </a>

                    <h4>Sprint Planning</h4>
                    <h4>Unit Testing</h4>
                    <h4>E2E Testing</h4>
                    <h4>Feedback</h4>
                    <h4>Design</h4>


                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h2>The Tech</h2>

                    <div class="stack">
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component angular">
                                    <span class="name">Angular</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component node">
                                    <span class="name">Node.js</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component express">
                                    <span class="name">Express</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component heroku">
                                    <span class="name">Heroku</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component npm">
                                    <span class="name">npm</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component bower">
                                    <span class="name">bower</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component gulp">
                                    <span class="name">Gulp</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component less">
                                    <span class="name">LESS</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component bootstrap">
                                    <span class="name">Bootstrap</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component pivotal">
                                    <span class="name">Pivotal Tracker</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component git">
                                    <span class="name">Git</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <a href="#" target="_blank">
                                <div class="component github">
                                    <span class="name">GitHub</span>
                                </div>
                            </a>
                        </div>

                        <h3 class="text-muted">...and more</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
