<section id="our-process" class="our-process">
    <div class="container">

        <h1 class="page-header">Our Process</h1>

        <p class="lead">
            Everything you need to execute production projects, start to finish.
        </p>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-6">
                    <h2 class="text-muted">Throughout the course</h2>

                    <h4>Agile</h4>
                    <a href="http://www.agilenutshell.com/" target="_blank">
                        Agile in a nutshell
                    </a>
                    <ul>
                        <li>Making user stories</li>
                        <li>Sizing stories</li>
                        <li>Prioritizing stories</li>
                        <li>Executing stories</li>
                        <li>Updating the plan as we go</li>
                    </ul>

                    <h4>Sprint Planning</h4>

                    <h4>Unit Testing</h4>
                    <h4>E2E Testing</h4>

                    <h4>Feedback</h4>


                </div>

                <div class="col-sm-6">
                    <div>
                        <h2 class="text-muted">Kick Off</h2>

                        <p class="lead">
                            Project pitch event
                        </p>
                        <p>Orientation</p>
                    </div>

                    <div>
                        <h2 class="text-muted">Month 1</h2>
                        <strong>Week1</strong>
                        <p>Your Environment, Editor/IDE</p>
                        <p>Git & GitHub Workflow</p>

                        <strong>Week2</strong>
                        <p>Data Structures in JavaScript</p>
                        <p>JavaScript OOP Fundamentals</p>
                        <p>JavaScript Design Patterns</p>

                        <strong>Week3</strong>
                        <p>Frontend Stack</p>
                        <p>Using & Customizing Bootstrap</p>
                        <p>Package managers</p>

                        <strong>Week4</strong>
                        <p>Angular Best Practices</p>
                        <p>Unit Testing</p>
                        <p>E2E Testing</p>
                        <p>The Build Process</p>
                        <p>Deploying to Heroku</p>
                        <p>Continuous Integration</p>
                    </div>

                    <div>
                        <h2 class="text-muted">Month 2</h2>
                    </div>

                    <div>
                        <h2 class="text-muted">Month 3</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>The Tech</h2>

                <div class="stack">
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component angular">
                            <a href="#" target="_blank">
                                <span class="name">Angular</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component node">
                            <a href="#" target="_blank">
                                <span class="name">Node.js</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component express">
                            <a href="#" target="_blank">
                                <span class="name">Express</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component heroku">
                            <a href="#" target="_blank">
                                <span class="name">Heroku</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component npm">
                            <a href="#" target="_blank">
                                <span class="name">npm</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component bower">
                            <a href="#" target="_blank">
                                <span class="name">bower</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component gulp">
                            <a href="#" target="_blank">
                                <span class="name">Gulp</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component less">
                            <a href="#" target="_blank">
                                <span class="name">LESS</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component bootstrap">
                            <a href="#" target="_blank">
                                <span class="name">Bootstrap</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component pivotal">
                            <a href="#" target="_blank">
                                <span class="name">Pivotal Tracker</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component git">
                            <a href="#" target="_blank">
                                <span class="name">Git</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="component github">
                            <a href="#" target="_blank">
                                <span class="name">GitHub</span>
                            </a>
                        </div>
                    </div>
                    
                    <h1>Add CI tools</h1>
                </div>
            </div>
        </div>

    </div>
</section>
