.tsc-navbar {
  transition-property: background, border-color;
  transition-duration: 0.2s;
  position: fixed;
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-bottom: none;
  box-shadow: inset 0 -1px 0 fade(black, 10);
  z-index: @zindex-navbar-fixed;

  &.transparent {
    background: transparent;
    box-shadow: none;
    .tsc-navbar-brand {
      .img-dark {
        opacity: 0;
      }
      .img-light {
        opacity: 1;
      }
    }

    .tsc-navbar-nav {
      li > a {
        color: fade(white, 70);
      }
    }
  }

  .tsc-navbar-nav {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      border-bottom: 2px solid transparent;
      font-weight: 300;
      &:hover:not(.active) {
        border-bottom-color: fade(@brand-primary, 50);
      }
      &.active {
        font-weight: 400;
        border-bottom-color: @brand-primary;
      }
      & > a {
        color: @tsc-brand-primary;
      }
    }
  }

  .tsc-navbar-brand {
    display: inline-block;
    width: 200px;
    height: 100%;
    font-family: @headings-font-family;
    overflow: hidden;
    img {
      transition-property: opacity;
      transition-duration: 0.2s;
      position: absolute;
      padding: 14px 15px;
      top: 0;
      left: 0;
      max-width: 100%;
      max-height: 100%;
      &.img-dark {
        opacity: 1;
      }
      &.img-light {
        opacity: 0;
      }
    }

    .tsc-text {
      float: left;
    }
  }
}
