<nav class="tsc-navbar tsc-navbar-transparent" role="navigation">
    <div class="container">
        <a class="tsc-navbar-brand" href="#top" ng-click="brandClicked()">
            <img src="/assets/img/logo-blue-horizontal.png" alt="3 Strand Code" class="tsc-img-dark hidden-xs"/>
            <img src="/assets/img/logo-white-horizontal.png" alt="3 Strand Code" class="tsc-img-light hidden-xs"/>
            <img src="/assets/img/icon-blue.png" alt="3 Strand Code" class="tsc-logo tsc-img-dark hidden-sm hidden-md hidden-lg"/>
            <img src="/assets/img/icon-white.png" alt="3 Strand Code" class="tsc-logo tsc-img-light hidden-sm hidden-md hidden-lg"/>
        </a>
        <ul class="tsc-navbar-nav">
            <li ng-click="navClicked($event)" ng-if="false">
                <a href="#pricing">
                    Pricing
                </a>
            </li>
            <li ng-click="navClicked($event)">
                <a href="#mentors">
                    Mentors
                </a>
            </li>
            <li ng-click="navClicked($event)">
                <a href="#faq">
                    FAQ
                </a>
            </li>
        </ul>

        <div class="tsc-register-btn" ng-click="navClicked($event)">
            <a href="#register">
              Subscribe
            </a>
        </div>
    </div>
</nav>
