<nav class="navbar navbar-default navbar-fixed-top transparent" role="navigation">
    <a class="navbar-brand" href="/">
        <img src="/assets/img/logo-black-horizontal.png" alt="3 Strand Code" class="img-dark"/>
        <img src="/assets/img/logo-white-horizontal.png" alt="3 Strand Code" class="img-light"/>
    </a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="#">
                Our Process
            </a>
        </li>
        <li>
            <a href="#">
                The Mentors
            </a>
        </li>
        <li>
            <a href="#">
                What you get
            </a>
        </li>
        <li>
            <a href="#">
                Register
            </a>
        </li>
    </ul>
</nav>
