///////////////////////////////////////////////
// Container

.tsc-navbar {
  transition-property: background, box-shadow;
  transition-duration: 0.2s;
  position: fixed;
  width: 100%;
  background: @body-bg;
  box-shadow: inset 0 -2px fade(@tsc-brand-primary, 10);
  z-index: @zindex-navbar-fixed;

  &.tsc-navbar-transparent {
    background: transparent;
    box-shadow: none;
    .tsc-navbar-brand {
      .tsc-img-dark {
        display: none;
      }
      .tsc-img-light {
        display: block;
      }
    }

    .tsc-navbar-nav {
      li {
        &.active {
          box-shadow: none;
        }
        & > a {
          color: #fff;
        }
      }
    }
  }

  ///////////////////////////////////////////////
  // Brand

  .tsc-navbar-brand {
    float: left;
    height: @tsc-navbar-height;
    line-height: @tsc-navbar-height;
    padding: (@tsc-navbar-height / 2 - 10px) @tsc-navbar-item-padding;
    padding-left: 0;
    margin-top: -2px; // account for vertically off center logo text
    img {
      height: 20px;
      &.tsc-img-dark {
        display: block;
      }
      &.tsc-img-light {
        display: none;
      }
    }
  }

  ///////////////////////////////////////////////
  // Nav Menu

  .tsc-navbar-nav {
    float: left;
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
      box-shadow: none;
      opacity: 0.5;
      &:hover {
        opacity: 1;
        a {
          text-decoration: none;
        }
      }
      &.active {
        opacity: 1;
        box-shadow: inset 0 -2px 0 @brand-primary;
      }
      & > a {
        display: block;
        color: @tsc-brand-primary;
        height: @tsc-navbar-height;
        line-height: @tsc-navbar-height;
        padding: 0 @tsc-navbar-item-padding;
      }
    }
  }
}
