<section id="mentors" class="mentors">
    <div class="container">

        <h1>Mentors</h1>

        <p class="lead">
            We're local founders, software engineers, and leaders.
            We also work at places like
            <a href="http://gravityjack.com/" target="_blank">Gravity Jack</a>,
            <a href="http://limelyte.com/" target="_blank">Limelyte</a>,
            and
            <a href="http://tivix.com/" target="_blank">Tivix</a>.
        </p>

        <div class="mentor levi-thomason">
            <div class="info">
                <div class="name">
                    Levi Thomason
                </div>
                <div class="titles">
                    <div class="title">
                        <span class="position">Founder, Host</span>
                        <span class="title-divider">::</span>
                        <span class="company">Web App Workshop</span>
                    </div>
                    <div class="title">
                        <span class="position">Lead Front End Dev</span>
                        <span class="title-divider">::</span>
                        <span class="company">Gravity Jack</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mentor shawn-poindexter">
            <div class="info">
                <div class="name">
                    Shawn Poindexter, Ph.D.
                </div>
                <div class="titles">
                    <div class="title">
                        <span class="position">CTO, Co-founder</span>
                        <span class="title-divider">::</span>
                        <span class="company">CharityCheckin</span>
                    </div>
                    <div class="title">
                        <span class="position">Director of Eng</span>
                        <span class="title-divider">::</span>
                        <span class="company">Gravity Jack</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mentor eric-carmichael">
            <div class="info">
                <div class="name">
                    Eric Carmichael
                </div>
                <div class="titles">
                    <div class="title">
                        <span class="position">Managing Member</span>
                        <span class="title-divider">::</span>
                        <span class="company">CK Collab, LLC</span>
                    </div>
                    <div class="title">
                        <span class="position">Software Engineer</span>
                        <span class="title-divider">::</span>
                        <span class="company">Tivix, Inc.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mentor josh-crawford">
            <div class="info">
                <div class="name">
                    Josh Crawford
                </div>
                <div class="titles">
                    <div class="title">
                        <span class="position">Founder</span>
                        <span class="title-divider">::</span>
                        <span class="company">Crawford Consulting</span>
                    </div>
                    <div class="title">
                        <span class="position">Systems Architect</span>
                        <span class="title-divider">::</span>
                        <span class="company">Gravity Jack</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mentor michael-williams">
            <div class="info">
                <div class="name">
                    Michael Williams
                </div>
                <div class="titles">
                    <div class="title">
                        <span class="position">Owner</span>
                        <span class="title-divider">::</span>
                        <span class="company">Whiz Development</span>
                    </div>
                    <div class="title">
                        <span class="position">Software Engineer</span>
                        <span class="title-divider">::</span>
                        <span class="company">Limelyte</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mentor mentor-join">
            Join us
        </div>

        <hr/>
        
    </div>
</section>
