.mentors {

  .mentor {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    border: 4px solid transparent;
    background-size: cover;
    background-repeat: no-repeat;
    &.shawn-poindexter {
      background-image: url("https://media.licdn.com/media/p/1/000/035/2e0/3461be2.jpg");
    }
    &.levi-thomason {
      background-image: url("https://scontent-sea.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/383032_10100114039002124_112614415_n.jpg?oh=75d5cb1728230ac56b25538d123c3ae4&oe=557C4A67");
    }
    &.eric-carmichael {
      background-image: url("https://media.licdn.com/media/p/6/005/08a/121/14eef86.jpg");
    }
    &.josh-crawford {
      background-image: url("https://media.licdn.com/media/p/7/005/0a9/21b/1070ee6.jpg");
    }
    &.michael-williams {
      background-image: url("https://media.licdn.com/media/p/6/005/07f/066/3422fbb.jpg");
    }
    &.jason-rutherford {
      background-image: url("https://scontent-sea1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10256810_741375812550065_5414045698136394313_n.jpg?oh=d22782b5c343502d71c0d161753f379b&oe=55C27213");
      background-position: center;
    }

    .info {
      position: absolute;
      top: 65%;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding: 1% 0.75em;
      background-image: linear-gradient(180deg, transparent, fade(desaturate(darken(@tsc-brand-primary, 15), 20), 90) 90%);

      .name {
        margin: 10% 0 3% 0;
        font-family: @headings-font-family;
      }

      .titles {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 300;
        color: #DDD;
        .title {
          .position {

          }
          .title-divider {
            padding: 0 0.25em;
            font-family: @headings-font-family;
            opacity: 0.5;
          }

          .company {
            opacity: 0.5;
          }
        }
      }
    }

    @media (min-width: @screen-sm-min) {
      width: unit(100/2, %);
    }
    @media (min-width: @screen-md-min) {
      width: unit(100/3, %);
    }
    @media (min-width: @screen-lg-min) {
      width: unit(100/4, %);
    }
  }
}
